## 📊 Manifest Changes

{{if .EnvironmentDiffs}}
{{range .EnvironmentDiffs}}

### [`{{.Environment}}`]: {{if .HasChanges}}`{{.LineCount}}` lines ({{.AddedLineCount}}➕/{{.DeletedLineCount}}➖){{else}}No changes detected.{{end}}

{{if .HasChanges}}
<details open>
<summary>Click to expand {{.Environment}} diff</summary>

```diff
{{.Content}}
```

</details>
{{else}}
✅ No changes detected.
{{end}}

{{end}}
{{else}}
✅ No changes detected.
{{end}}