## 🛡️ Policy Evaluation

| Environments | Success | Failed | Omitted |
|--------------|---------|--------|---------|
{{range $env, $sum := .PolicyEvaluation.EnvironmentSummary}}| `{{ $env }}` | {{ $sum.PolicyCounts.Success }} | {{ $sum.PolicyCounts.Failed }} | {{ $sum.PolicyCounts.Omitted }} |
{{ end }}

<details> <summary> Policy Matrix </summary>

{{range $env, $matrix := .PolicyEvaluation.PolicyMatrix}}
### {{$env}} Environment

{{if $matrix.BlockingPolicies}}
#### Blocking Policies
{{range $policy := $matrix.BlockingPolicies}}| {{$policy.PolicyName}} | {{if $policy.IsPassing}}✅ PASS{{else}}❌ FAIL{{end}} |
{{if not $policy.IsPassing}}{{range $msg := $policy.FailMessages}}  - {{$msg}}{{end}}{{end}}
{{end}}
{{end}}

{{if $matrix.WarningPolicies}}
#### Warning Policies
{{range $policy := $matrix.WarningPolicies}}| {{$policy.PolicyName}} | {{if $policy.IsPassing}}✅ PASS{{else}}⚠️ FAIL{{end}} |
{{if not $policy.IsPassing}}{{range $msg := $policy.FailMessages}}  - {{$msg}}{{end}}{{end}}
{{end}}
{{end}}

{{if $matrix.RecommendPolicies}}
#### Recommend Policies
{{range $policy := $matrix.RecommendPolicies}}| {{$policy.PolicyName}} | {{if $policy.IsPassing}}✅ PASS{{else}}💡 FAIL{{end}} |
{{if not $policy.IsPassing}}{{range $msg := $policy.FailMessages}}  - {{$msg}}{{end}}{{end}}
{{end}}
{{end}}

{{end}}

</details>